{% extends 'base.html.twig' %}

{% block title %} Agence immobiliere{% endblock %}
{% block body %}

    <div class="jumbotron text-center" style="display: flex; justify-content: space-between; align-items: center;" >
        <div class="logo" style=" height: 150px; width: 150px; background-image: url('https://www.agency-immobilier.fr/media/images/upload/agency-immobilier-.jpg'); background-repeat: no-repeat; background-size: cover;">

        </div>
        <div class="desc">
            <h2 style="color: blue;">Bienvenue dans Sen Agence,</h2>
        <p>Nous vous offrons les meuilleus packs de la fin d'années! <br/>
            Alors qu'attendez vous!
           <br/>
        </p>
        </div>
    </div>
    <div class="container">
        <!--h2>Les derniers biens</h2-->
        <div class="row flex">
            {% for property in properties  %}
                <div class="col-3">

                    {% if property.filename %}
                        <img src="{{ vich_uploader_asset(property,'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%;height: 200px">
                    {% else %}
                        <img src="{{ '/images/biens/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%;height: 200px">
                    {% endif %}

                    <div class="row">
                        <div class="card-body">
                            <h6 class="card-title">
                                <a href="{{ path('property.show',{id:property.id,slug:property.slug}) }}">{{ property.title }}</a>
                            </h6>
                            <p class="card-text">{{ property.typeType }} {{ property.objectifType }}</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 1.5rem;">{{ property.formatedPrix }} FCFA</div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}